{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4" style="width: 100%; max-width: 500px;">
        <h1 class="h4 mb-3 text-center font-weight-normal">Inscription</h1>
        {{ form_start(userForm) }}
            <div class="mb-3">
                {{ form_row(userForm.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.roles) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.niveau, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.surNom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.badge, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg">S'inscrire</button>
            </div>
        {{ form_end(userForm) }}
    </div>
</div>
{% endblock %}
