{% extends 'base.html.twig' %}

{% block title %}Lp index{% endblock %}

{% block body %}
    <h1>Lp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>QteProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lp in lps %}
            <tr>
                <td>{{ lp.id }}</td>
                <td>{{ lp.qteProduit }}</td>
                <td>
                    <a href="{{ path('app_lp_show', {'id': lp.id}) }}">show</a>
                    <a href="{{ path('app_lp_edit', {'id': lp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lp_new') }}">Create new</a>
{% endblock %}
