{% extends 'base.html.twig' %}

{% block title %}DemandeDeProgrammeC index{% endblock %}

{% block body %}
    <h1>DemandeDeProgrammeC index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_de_programme_c in demande_de_programme_cs %}
            <tr>
                <td>{{ demande_de_programme_c.id }}</td>
                <td>{{ demande_de_programme_c.etat }}</td>
                <td>
                    <a href="{{ path('app_demande_de_programme_c_show', {'id': demande_de_programme_c.id}) }}">show</a>
                    <a href="{{ path('app_demande_de_programme_c_edit', {'id': demande_de_programme_c.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demande_de_programme_c_new') }}">Create new</a>
{% endblock %}
