{% extends 'base.html.twig' %}

{% block title %}Gamer index{% endblock %}

{% block body %}
    <h1>Gamer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Password</th>
                <th>SurNom</th>
                <th>Badge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gamer in gamers %}
            <tr>
                <td>{{ gamer.id }}</td>
                <td>{{ gamer.nom }}</td>
                <td>{{ gamer.prenom }}</td>
                <td>{{ gamer.email }}</td>
                <td>{{ gamer.password }}</td>
                <td>{{ gamer.surNom }}</td>
                <td>{{ gamer.badge }}</td>
                <td>
                    <a href="{{ path('app_gamer_show', {'id': gamer.id}) }}">show</a>
                    <a href="{{ path('app_gamer_edit', {'id': gamer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gamer_new') }}">Create new</a>
{% endblock %}
