{% extends 'base.html.twig' %}

{% block title %}Gamer{% endblock %}

{% block body %}
    <h1>Gamer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gamer.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ gamer.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ gamer.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ gamer.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ gamer.password }}</td>
            </tr>
            <tr>
                <th>SurNom</th>
                <td>{{ gamer.surNom }}</td>
            </tr>
            <tr>
                <th>Badge</th>
                <td>{{ gamer.badge }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gamer_index') }}">back to list</a>

    <a href="{{ path('app_gamer_edit', {'id': gamer.id}) }}">edit</a>

    {{ include('gamer/_delete_form.html.twig') }}
{% endblock %}
